@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Poppins&display=swap');

body {
    font-family: 'Kings', cursive;
    font-size: 40px;
    margin: 0;
    min-height: 100vh;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffffbb;
    min-height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
}

#kilometer {
    margin-left: auto;
    margin-right: auto;

}

#iframe_gjvj {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 1000px
}

#fire {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
} 

p a {
    color: black;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;

}

h1 a {
    text-decoration: none;
    display: inline-black;
    position: relative
}

h1 a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #ffffffbb ;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0
}

h1 a:hover:after {
    width: 100%;
    left:0;
}

h1{
    font-family: 'Nabla';
}
p a:hover {
    color: white;
    background-color: salmon;
    border-radius: 5px ;
}
.fade-in{
    animation: fade-in 1s ease 0s 1 normal forwards;
}

@keyframes fade-in{
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX();
    }
}

.rotate {
    animation: rotate 1s linear 3s infinite normal forwards;
}

.rotate:hover {
    filter:brightness(3) contrast(6) saturate(10)
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.movement {
    animation: movement 5s linear 0s infinite normal forwards;
    position: absolute;
    left: 0;
    right: 0;
}

.movement:hover {
    filter:brightness(3) contrast(6) saturate(10)
}

@keyframes movement {
    0% {
        transform: translate(0vw, 0vh);
    }
    50% {
        transform: translate(100vw, 50vh);
    }
    75% {  
        transform: translate(0vw, 100vh);
    }
    100% {
        transform: translate(0vw, 100vh);
    }
    
}